.nyc_output/
.vscode/
src/
build/
test/
.babelrc.js
.codeclimate.yml
.coveralls.yml
.travis.yml
CHANGE_LOG.md
CODE_OF_CONDUCT.md
CONTRIBUTING.md
ROAD_MAP.md
rollup.config.js
tsconfig.json
tslint.json
*.tgz
types/test